/*=============================================
INFOPRODUCTO
=============================================*/

.infoproducto figure.visor img{
	display:none;
	cursor:crosshair;

}

.infoproducto figure.visor img:first-child{
	display:block;
}

.flexslider{
	cursor: pointer;
}

.lupa{
	display:none;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}

.lupa img{
	position:relative;
	margin-top:-100%;
	margin-left:-50%;
	width:160%;
}

.compartirRedes{
	border:0px;
	box-shadow:none;
	margin:0px;
}



.btnFacebook{
	background:white;
	color:#46639f;
	text-align: center;
	line-height: 30px;
	padding:8px;
	font-size:18px;
	margin-top:10px;
	margin-bottom:20px;
	cursor:pointer;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 2px solid #46639f;
}

.btnWatsapp{
	background:white;
	color:#6ea860;
	text-align: center;
	line-height: 30px;
	padding:8px;
	font-size:18px;
	margin-top:10px;
	margin-bottom:20px;
	cursor:pointer;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 2px solid #6ea860;
}

.btnAgregar{
	background:#008BFF;
	color: white;
	text-align: center;
	line-height: 30px;
	padding:8px;
	font-size:18px;
	margin-top:10px;
	margin-bottom:20px;
	cursor:pointer;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px solid #008BFF;
}

.alturaComentarios{
	height:300px;
}

.tamañostar{
	color:#008BFF;
	font-size: 20px;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.videoPresentacion{

		height:415px;
	}

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){
	
	.videoPresentacion{

		height:350px;
	}


}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){
	
	.videoPresentacion{

		height:300px;
	}



}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.videoPresentacion{

		height:200px;
	}

	.fondoBreadcrumb{
		font-size:12px;
	}

	.botonesCompra button{
		margin:5px 0;
	}

}